.p {
  &-s {
    padding: 10px;
  }
  &-m {
    padding: 15px;
  }

  &-l {
    padding: 20px;
  }
}

.mb {
  &-xs {
    margin-bottom: 5px;
  }

  &-s {
    margin-bottom: 10px;
  }

  &-m {
    margin-bottom: 15px;
  }
}

.mr {
  &-xs {
    margin-right: 5px;
  }

  &-s {
    margin-right: 10px;
  }

  &-m {
    margin-right: 15px;
  }
}

.ml {
  &-s {
    margin-left: 10px;
  }
}

.mh {
  &-s {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
